<div id="imgInfo" class="iconV"></div>
<transition name="slide-fade">
    <div class="infoInfo ventana">
        <div class="divTitle">
            <div class="title">INFORMACIÓN</div>
        </div>
        
        <div class="blockInfo">
           
                
            <div class="title_red" style="padding-top:7px;"">&#191;QUE ES SISOL?</div>
            <div style="height:7px;">&nbsp;</div>
             <div id="infoText" style="text-align:justify;">
                SISol es un Sistema de Informaci&oacuten Web de consulta espacial y temporal de datos de radiaci&oacuten solar y temperatura que permite realizar evaluaciones t&eacutecnico-financieras de sistemas solares (paneles fotovoltaicos y calefones solares).
<div style="height:7px;">&nbsp;</div>
            
</div>
       <div class="title_red">&#191;CUALES SON LAS FUNCIONALIDADES?</div><div style="height:7px;">&nbsp;</div>
        <div id="iconRad"  onclick=" $('#imgRad').click();"></div>
        <div class="info" style="text-align:justify;" onclick=" $('#imgRad').click();">
            <b>M&#243;dulo de Radiaci&#243;n Solar:</b> Permite visualizar la distribuci&#243;n espacial de la radiaci&#243;n solar en la provincia y consultar valores caracter&#237;sticos diarios, promedios mensuales y anuales  en una ubicaci&#243;n determinada.
        </div>
        <div style="clear: both;"></div>
          <div id="iconTemp"  onclick=" $('#imgTemp').click();"></div>
        <div class="info" style="text-align:justify;" onclick=" $('#imgTemp').click();">
            <b>M&#243;dulo de Temperatura:</b> Permite visualizar la distribuci&#243;n espacial de la temperatura y consultar valores de temperatura media mensual y anual en una ubicaci&#243;n determinada de la provincia.
        </div>
        <div style="clear: both;"></div>
           <div id="iconFoto" onclick=" $('#imgSolar').click();"></div>
        <div class="info" style="text-align:justify;"  onclick=" $('#imgSolar').click();">
            <b>M&#243;dulo de Generaci&#243;n El&#233;ctrica Fotovoltaica:</b> Permite realizar una evaluaci&#243;n t&#233;cnico-financiera de una potencial instalaci&#243;n fotovoltaica. 
        </div>
        <div style="clear: both;"></div>
            <div id="iconTerm"  onclick=" $('#imgTerm').click();"></div>
        <div class="info" style="text-align:justify;" onclick=" $('#imgTerm').click();">
            <b>M&#243;dulo de Generaci&#243;n T&#233;rmica:</b> Permite realizar una evaluaci&#243;n t&#233;cnica para una posible instalaci&#243;n de calefon/es solar/es. 
        </div>
            <br/><br/><br/>
        </div>
    </div>
</transition>
