<div class="iconV" id="imgBook">
</div>
<transition name="slide-fade">
    <div class="infoBook ventana">
        <div class="divTitle">
            <div class="title">
                DESCARGA DE DOCUMENTACIÓN
            </div>
        </div>
        <div class="blockInfoBook">
            <br/>
            <div class="title_red">
                DOCUMENTACIÓN
            </div>
            <br/>
            <div id="iconSisol">
            </div>
            <div class="info" style="text-align:justify;">
                <b>
                    Información de SISol
                </b>
                <ul>
                    <li>
                        <a href="files/Acerca_de_SISOL.pdf" target="_blank">
                            <img src="css/images/icons/libro.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Acerca de SISol.
                        </a>
                    </li>
                </ul>
            </div>
            <br/>
            <div style="clear:both;"></div>
            <div id="iconRad" onclick=" $('#imgRad').click();">
            </div>
            <div class="info" onclick=" $('#imgRad').click();" style="text-align:justify;">
                <b>
                    Módulo de Radiación Solar
                </b>
                <ul>
                    <li>
                        <a href="files/Memoria_Tecnica_RECURSO_SOLAR.pdf" target="_blank">
                            <img src="css/images/icons/libro.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Memoria Técnica y Metadatos.
                        </a>
                    </li>
                    <li>
                        <a  target="_blank"  href="files/Tutorial_Uso_RECURSO_SOLAR.pdf">
                            <img src="css/images/icons/ayuda20x20.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Tutorial de Uso.
                        </a>
                    </li>
                </ul>
            </div>
            <div style="height:7px;clear:both;">
            </div>
            <div id="iconTemp" onclick=" $('#imgTemp').click();">
            </div>
            <div class="info" onclick=" $('#imgTemp').click();" style="text-align:justify;">
                <b>
                    Módulo de Temperatura:
                </b>
                <ul>
                    <li>
                        <a href="files/AtlasClimaticoINTA.pdf" target="_blank">
                            <img src="css/images/icons/libro.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Memoria Técnica y Metadatos. Bianchi A.R., Cravero S.A.C, 2010. Atlas climático digital de la Republica Argentina.
                        </a>
                    </li>
                    <li>
                        <a  target="_blank"  href="files/Tutorial_Uso_TEMPERATURA.pdf">
                            <img src="css/images/icons/ayuda20x20.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Tutorial de Uso.
                        </a>
                    </li>
                </ul>
            </div>
            <div style="height:7px;clear:both;">
            </div>
            <div id="iconFoto" onclick=" $('#imgSolar').click();">
            </div>
            <div class="info" onclick=" $('#imgSolar').click();" style="text-align:justify;">
                <b>
                    Módulo de Generación Eléctrica Fotovoltaica:
                </b>
                <ul>
                    <li>
                        <a href="files/Memoria_Tecnica_GENERACION_ELECTRICA_FOTOVOLTAICA.pdf" target="_blank">
                            <img src="css/images/icons/libro.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Memoria Técnica y Módelo de Generación Fotovoltaica.
                        </a>
                    </li>
                    <li>
                        <a  target="_blank"   href="files/Tutorial_Uso_GENERACION_ELECTRICA_FOTOVOLTAICA.pdf">
                            <img src="css/images/icons/ayuda20x20.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Tutorial de Uso.
                        </a>
                    </li>
                </ul>
            </div>
            <div style="height:7px;clear:both;">
            </div>
            <div id="iconTerm" onclick=" $('#imgTerm').click();">
            </div>
            <div class="info" onclick=" $('#imgTerm').click();" style="text-align:justify;">
                <b>
                    Módulo de Generación Térmica:
                </b>
                <ul>
                    <li>
                        <a href="files/Memoria_Tecnica_GENERACION_TERMICA.pdf" target="_blank">
                            <img src="css/images/icons/libro.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Memoria Técnica y Módelo de Generación Térmica.
                        </a>
                    </li>
                    <li>
                        <a target="_blank"  href="files/Tutorial_Uso_GENERACION_ELECTRICA_TERMICA.pdf">
                            <img src="css/images/icons/ayuda20x20.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>Tutorial de Uso.
                        </a>
                    </li>
                </ul>
            </div>
            <br/>
            <!--<div class="title_red">
                PUBLICACIONES
            </div>
            <br/>
            <ul class="listDesc">
                <li>
                    <a href="files/InformeTecnicoRadiacion.pdf" target="_blank">
                        <img src="css/images/icons/libro.svg" style="height: 20px; width: 20px;padding-right: 5px;"/>
                       España.
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</transition>
